version: '2'

services:
  landing:
    build:
      context: .
      dockerfile: Dockerfile
      network: default
    labels:
      - traefik.http.routers.landinghell.Rule=Host(`helluvaos.com`)
      - traefik.http.routers.landinghen.Rule=Host(`hentaios.com`)
      - traefik.docker.network=traefik_bridge
    networks:
      # add Traefik's network
      traefik_bridge:

networks:
  traefik_bridge:
    external: true
