.text-glitch {
	cursor: text;
}

.text-glitch {
	position: relative;
	display: inline-block;
	color: inherit;
	line-height: inherit;
	--text-glitch-y1: 30%;
	--text-glitch-y2: 35%;
	--text-glitch-y3: 50%;
	--text-glitch-y4: 55%;

	&:before,
	&:after {
		content: attr(data-text);
		position: absolute;
		z-index: -1;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}

	&:before {
		clipPath: polygon(0% 0%,
				100% 0%,
				100% var(--text-glitch-y1),
				0% var(--text-glitch-y1),
				0% var(--text-glitch-y2),
				100% var(--text-glitch-y2),
				100% var(--text-glitch-y3),
				0% var(--text-glitch-y3),
				0% var(--text-glitch-y4),
				100% var(--text-glitch-y4),
				100% 100%,
				0% 100%);
		text-shadow: 5px 0 var(--text-color1);
	}

	&:after {
		clipPath: polygon(0% var(--text-glitch-y1),
				100% var(--text-glitch-y1),
				100% var(--text-glitch-y2),
				0% var(--text-glitch-y2),
				0% var(--text-glitch-y3),
				100% var(--text-glitch-y3),
				100% var(--text-glitch-y4),
				0% var(--text-glitch-y4));
		text-shadow: -5px 0 var(--text-color2);
	}
}
